<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button mode="md" defaultHref="/meals"></ion-back-button>
		</ion-buttons>

		<ion-title>{{meal.name || "Meal" }}</ion-title>

		<ion-buttons slot="end">
			<ion-button mode="md" [routerLink]="['/meals', meal.id, 'edit']">Edit</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-header>
			<ion-card-subtitle>{{meal.user}}</ion-card-subtitle>
		</ion-card-header>
		<ion-card-content>
			<ion-img [src]="meal.images[0]"></ion-img>
			<ion-card-title>Recipes</ion-card-title>
			<ion-list>
<!--				<ion-item *ngFor="let recipe of meal.recipes" [routerLink]="['/recipes', recipe.id]">-->
<!--					<ion-label>{{recipe.name}}</ion-label>-->
<!--					<ion-img [src]="recipe.images[0]"></ion-img>-->
<!--				</ion-item>-->
			</ion-list>
			<ion-card-title>Ingredients</ion-card-title>
			<ion-list>
<!--				<ion-item *ngFor="let ingredient of meal.ingredients">-->
<!--					<ion-label>{{ingredient.name}}</ion-label>-->
<!--					<p>{{ingredient.amount}} {{ingredient.unit}}</p>-->
<!--				</ion-item>-->
			</ion-list>
		</ion-card-content>
	</ion-card>
</ion-content>
