  <ion-content>
      <ion-item >
        <ion-input [(ngModel)]="this.user.username" placeholder="NAME" required></ion-input>
      </ion-item>
      <ion-item >
        <ion-input type="password" [(ngModel)]="this.user.password" placeholder="PASSWORD" required></ion-input>
      </ion-item>
      <ion-item  lines="none">
        <ion-button  color="medium" expand="block" fill="outline" (click)="logIn()">Einloggen</ion-button>
        <ion-button  color="medium" expand="block" fill="outline" (click)="register()">Registrieren</ion-button>
      </ion-item>
      <ion-item >
        <ion-input disabled> {{this.error}}</ion-input>
      </ion-item>
  </ion-content>
