<ion-header>
	<ion-toolbar>
		<ion-title slot="start">YUMMY</ion-title>
		<ion-buttons slot="secondary">
			<ion-button [routerLink]="['create']">
				<ion-icon slot="icon-only" name="add-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
	<ion-toolbar>
		<ion-searchbar
			inputmode="search"
			placeholder="Search recipe"
			show-cancel-button="focus"
			[(ngModel)]="filter.value"
			(ionChange)="ngOnChanges()">
		</ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="card-background-page">
	<ion-grid>
		<ion-row>
			<ion-col *ngFor="let meal of meals" size="12">
				<ion-card [routerLink]="[meal.id]">
					<ion-card-header>
						{{meal.name}}
					</ion-card-header>
					<ion-card-content>
						<ion-img class="image" [src]="meal.images[0]"></ion-img>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
