<ion-header>
	<ion-toolbar>
		<ion-title>Create recipe</ion-title>
		<ion-buttons slot="end">
			<ion-button mode="md" href="tabs/recipes">
				<ion-icon name="close"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<form>
			<ion-grid>
				<ion-row>
					<ion-col>
						<ion-item lines="none">
							<ion-input type="text" placeholder="Name" [(ngModel)]="recipe.name"></ion-input>
						</ion-item>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col size="12">
						<ion-item lines="none">
							<ion-label (click)="addPicture()">
								<ion-icon name="images"></ion-icon>
								Add image
							</ion-label>
						</ion-item>
					</ion-col>
					<ion-col size="12">
						<ion-item lines="none">
							<ion-input type="text" placeholder="Time" [(ngModel)]="recipe.time"></ion-input>
							min.
						</ion-item>
					</ion-col>
				</ion-row>
			</ion-grid>

			<button (click)="saveRecipe()">Save</button>
		</form>
	</ion-card>

</ion-content>
