<ion-header>
	<ion-toolbar>
			<ion-title slot="start">Recipes</ion-title>
			<ion-title slot="en">ion</ion-title>
		
	</ion-toolbar>

	<ion-toolbar color="">
		<ion-searchbar
		showCancel
		animated
		cancel-button-icon
		(ionChange)="ionChange($event)"
		placeholder="Recipe search"
		>

		</ion-searchbar>
		
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="card-background-page">
	<ion-grid>
		<ion-row>
			<ion-col *ngFor="let item of this.recipesList" col-lg-6>
				<ion-card [routerLink]="['detail', item.id]" expand="full">
					<ion-card-header>
						{{item.name}}
					</ion-card-header>
					<ion-card-content>
						<ion-img src="../../../assets/shapes.svg"></ion-img>
					</ion-card-content>
					{{item.cookingtime}} - {{item.preparationTime}}
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>
