<ion-header>
	<ion-toolbar>
		<ion-title slot="start">Recipes</ion-title>
		<ion-title slot="en">Recipes</ion-title>

		<ion-searchbar
			inputmode="search"
			placeholder="Search recipe"
			show-cancel-button="focus"
			[(ngModel)]="mSearch"
			(ionChange)="ngOnChanges()">
		</ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="card-background-page">
	<ion-grid>
		<ion-row>
			<ion-col *ngFor="let item of this.recipes" col-lg-6>
				<ion-card [routerLink]="['detail', item.id]" expand="full">
					<ion-card-header>
						{{item.name}}
					</ion-card-header>
					<ion-card-content>
						<ion-img src="../../../assets/shapes.svg"></ion-img>
					</ion-card-content>
					{{item.time}}
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>
