#delete-button{
    margin-top: 1em;
}

input{
    width: 6em;
}
ion-select-option{
    padding: 0;
    margin: 0;
}
#input{
    padding-left: unset;
    padding-right: unset;
    padding-inline-start: unset !important;
}
